mixin menu(selectedID)
  include menu.data.pug
  
  ul.menu&attributes(attributes)
    each menuItem in menuList
      if(menuItem.id === selectedID)
        li.menu-item.active
          +scroll-link(menuItem.name)(
            class= menuItem.icon,
            href= menuItem.url,
            data-toggle-native= 'off-canvas'
          )
      else
        li.menu-item
          +scroll-link(menuItem.name)(
            class= menuItem.icon,
            href= menuItem.url,
            data-toggle-native= 'off-canvas'
          )